body{
background: rgb(197,231,185);
background: linear-gradient(90deg, rgba(197,231,185,1) 40%, rgba(241,212,1,1) 89%);
align-items: center;
justify-content: center;
display: flex;
}
.container{
font-size: 25px;
max-width: 700px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
width: 100%;
background-color: rgb(194, 175, 175);
padding: 25px 30px;
border-radius: 5px;
box-shadow: 0 5px 10px rgba(230, 226, 12, 0.74);  
}
.title{
color: brown;
text-align: center;
font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.user-details .input-box input{
height: 45px;
width: 100%;
outline: none;
font-size: 16px;
border-radius: 5px;
padding-left: 15px;
border: 1px solid #ccc;
border-bottom-width: 2px;
transition: all 0.3s ease;
}
.input-box input:invalid {
border-color: red;
}
.input-box input:valid {
border-color: green;
}
#regbutton {
height: 100%;
width: 100%;
border-radius: 5px;
border: none;
color: #fff;
font-size: 18px;
font-weight: 500;
letter-spacing: 1px;
cursor: pointer;
transition: all 0.3s ease;
background: linear-gradient(90deg, rgba(231,185,185,1) 40%, rgba(241,51,1,1) 100%)red;
}  
#regbutton:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
footer {
background-color: #f2f2f2;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
footer p {
font-size: 14px;
margin: 0;
}
footer a {
color: #005ce6;
text-decoration: none;
}